.App {
  text-align: center;
  background-color: black;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 200px;
}
.form input, textarea {
  background-color: grey;
  color: whitesmoke;
}